extends layout

block content
  h3 About this site
  h6 The goal of this site is helping photo people wanting to embed photo metadata which is shown by search engines but the software they use for editing photo metadata does not support all the required fields.
  p This can be achieved by creating the required IPTC photo metadata in a format used by the widely used command line software <a href="https://exiftool.org/">ExifTool</a> and then applying the created photo metadata with ExifTool to a directory with one to many image files.
  p This site was created by Michael Steidl (<a href="https://www.newsit.biz" target="_blank">NewsIT</a>), developer and Lead of the <a href="https://iptc.org/about-iptc/work-structure/#pmd" target="_blank">IPTC Photo Metadata Working Group</a>. It will be <a href="https://github.com/nitmws/set-iptc-pmd-searchengines">available soon as open source on Github</a>.
  p The development of this app was supported by <a href="http://riecks.com/">David Riecks</a>, professional photographer and metadata expert running <a href="http://controlledvocabulary.com">http://controlledvocabulary.com</a> and being behind <a href="http://photometadata.org/">http://photometadata.org/</a> and tested by the photographer <a href="https://sautter.photography/">Henry Sautter</a>.