extends layout

block content
  h3 About this site
  p The software for this site was created by Michael Steidl (NewsIT). It will be <a href="https://github.com/nitmws/set-iptc-pmd-searchengines">available soon as open source on Github</a>.