extends layout

block content
  h4 How To Use this Site
  h6 This site will enable you to define a set of metadata, download this as a packet, and then embed this information directly into one or many of your photos in a single operation.
  div.row.mt-3
    div.col-8.lhg-13 Here is an <strong>overview</strong> of the workflow to embed IPTC photo metadata into your images:
  div.row
    ol.col-8
      li.lhg-13 Download a tool package from this site and install it, and (based on your used operating system) install the program ExifTool. A one-time only step.
      li.lhg-13 Copy the image files you want to contain the embedded metadata to a specific directory
      li.lhg-13 Enter your photo metadata using this site and create a file to download and embed
      li.lhg-13 Run a script from the installed tool package to embed the metadata into the file(s)
      li.lhg-13 Move the modified image files to another directory of your choice
  h5 Make use of this site - step by step
  div.row.mt-3
    div.col-8.lhg-13 The steps below refer to steps of the workflow overview above.
  div.row
    ul.col-8
      li.lhg-13 Step 1.1:<br>a) Create a directory in your file system for the purpose of embedding photo metadata relevant for search engines.<br>b) <a href="/set-iptc-pmd-searchengines-tool.zip"><strong>Download the tool package</strong></a> named <code>set-iptc-pmd-searchengines-tool.zip</code> to this new directory.<br>c) Uncompress this zip file there.<br>d) Check if this directory has a sub-directory named <code>images</code>. If not: create a directory with this name. <br>Find below <a href="#toolpkgcontent">details about the content of this tool package</a> and how to <a href="#testtoolpkg">test its basic functions</a> (recommended!).
      li.lhg-13.mt-1 Step 1.2: You may have to install the program ExifTool.<br>* If you are using Windows as operating system this is not required, the ExifTool executable is included in the tool package as <code>exiftool_windows.exe</code> file.<br>* If you are using Apple's MacOS or Linux as operating system, install ExifTool. The <a href="https://exiftool.org/">ExifTool home page</a> provides a package for MacOS and Unix/Linux plus installation instructions for MacOS and Unix platforms (including Linux).
      li.lhg-13.mt-1 Step 2: Select a set of photos into which you want to embed your photo metadata and copy them to this <code>images</code> directory. Be aware: If you have subdirectories of the <code>images</code> directory, any images within will also be embedded with metadata!
      li.lhg-13.mt-1 Step 3.1: Go to the <a href="/ui/form">Metadata Form</a> of this site and type your values in the available fields. Finally click the <span class="bggreen1">Generate Photo Metadata</span> button.
      li.lhg-13.mt-1 Step 3.2: This action will take you to a page showing the results. If everything worked correctly, you should see the words "It worked" below the headline "Result after ...", this is your confirmation that the generated data is ok to download.<br>To download, click on the link in the green box that says <span class="bggreen1">Download this IPTC Photo Metadata object ...</span> - and the the file <code>myiptcpmd.json</code> will be downloaded to a directory defined by your browser.<br>If you want to see the to-be-downloaded data for ExifTool you can click on the "Show metadata object" link  - the page will expand and a box will appear with the code.<br>The results page also shows the Structured HTML Metadata as used by Google, it corresponds to the used fields.
      li.lhg-13.mt-1 Step 3.3: Copy or move the file <code>myiptcpmd.json</code> from your download directory to the directory where you had installed the tool package. There should be already a file with this name, overwrite it (your operating system may show a popup window asking you to confirm this overwrite).
      li.lhg-13.mt-1 Step 4.1: Run the script for embedding the metadata in the directory of your specific installed tool package. Just double-click the file name that starts with <code>embedIPTCpmd_</code> and ends with your operating system. This will launch ExifTool as a command line program and will embed the metadata of the <code>myiptcpmd.json</code> into all files in the <code>images</code> directory and its subdirectories. (You should see notes about that on your screen.) How to run the script ...<br> ... on a Windows computer:  click on <code>embedIPTCpmd_windows.cmd</code><br> ... on a MacOS computer:  click on <code>embedIPTCpmd_macos.sh</code><br> ... on a Linux computer:  click on <code>embedIPTCpmd_linux.sh</code><br>Note for MacOS and Linux computers: you may have to enable the script to be executed by a <code>chmod +x embedIPTCpmd_macos.sh</code> or <code>chmod +x embedIPTCpmd_linux.sh</code> command.
      li.lhg-13.mt-1 Step 4.2: You may check the metadata embedded into one or more image files. See below the <a href="#checkembmd">How to Check Embedded Metadata</a> section.
      li.lhg-13.mt-1 Step 5: Copy or move all the image files from the <code>images</code> directory to a directory where they are archived.
      li.lhg-13.mt-1 Step 5: After clearing the <code>images</code> directory - don't forget images in subdirectories - you can select another set of your image files. Copy it to the <code>images</code> directory and embed the same photo metadata as described above. <br>As long as your metadata displayed by search engines does not change you can reuse the metadata in the <code>myiptcpmd.json</code> file for as many times as you wish!<br>If other metadata should be embedded go back to Step 2.
  h5#checkembmd How to Check Embedded Metadata
  div.row.mt-3
    div.col-8.lhg-13 You can check metadata embedded into an image file by using the <a href="https://getpmd.iptc.org" target="_blank">Get IPTC Photo Metadata</a> site.
  div.row
    ul.col-8
      li.lhg-13 Go to <a href="https://getpmd.iptc.org" target="_blank">https://getpmd.iptc.org</a>
      li.lhg-13 Use Option B (Metadata embedded into an image uploaded from your computer):
      li.lhg-13 Select one of the photos in the <code>images</code> directory for the "Select image file ..." box. <br>Select for "What is shown" the option "Metadata relevant for photos shown as result by search engines" . 
      li.lhg-13 Click on <span class="bggreen1">Get Photo Metadata of Local Image</code>.
      li.lhg-13 Then you should see metadata embedded into this image file relevant for search engines. Check if the values are correct. If not: go back to the <a href="/ui/form">Metadata Form</a> of this site, generate and download the metadata again, embed it and test again.
  h5#toolpkgcontent The Tool Package Content
  div.row.mt-3
    div.col-8.lhg-13 The compressed <code>set-iptc-pmd-searchengines-tool.zip</code> file includes:
  div.row
    ul.col-8
      li.lhg-13 Directory <code>images</code>. It is empty.
      li.lhg-13 Directory <code>no-metadata-test-images</code>. It includes three JPEG image files with no embedded metadata. You may use them for testing by copying one or more files into the <code>images</code> directory.
      li.lhg-13 File <code>embedIPTCpmd_linux.sh</code>: the script for embedding metadata on a Linux computer.
      li.lhg-13 File <code>embedIPTCpmd_macos.sh</code>: the script for embedding metadata on a MacOS computer.
      li.lhg-13 File <code>embedIPTCpmd_windows.cmd</code>: the script for embedding metadata on a Windows computer.
      li.lhg-13 File <code>exiftool_windows.exe</code>: the ExifTool program file for Windows only!
      li.lhg-13 File <code>myiptcpmd.json</code>: a sample of ExifTool data for embedding IPTC photo metadata into the image files in the <code>images</code> directory. It is not required too keep the file, if you want to keep it you should rename it.
  h5#testtoolpkg Test the Basic Functions of the Tool Package (after installing it)
  div.row
    ul.col-8
      li.lhg-13 Copy JPEG files from the <code>no-metadata-test-images</code> directory to the <code>images</code> directory.
      li.lhg-13 Execute the script for your operating system, see the details in the step-by-step guideline above. It MacOS or Linux complains this script cannot be executed apply the <code>chmod</code> command as described in the guideline. This change should be persistent.<br>Executing this script will embed the sample photo metadata of this default <code>myiptcpmd.json</code>, using a photographer named Jane Doe and the Photo Agency XYZ as copyright holder and licensor.
      li.lhg-13 If executing the script looked successfully check an image file in the <code>images</code> directory. See above the <a href="#checkembmd">How to Check Embedded Metadata</a> section.