extends layout

block content
  h4 How To Use this Site
  h6 Using this site enables you to embed photo metadata defined by you into a set of your photos
  div.row.mt-3
    div.col-8.lhg-13 The overall workflow of embedding IPTC photo metadata created by this site is:
  div.row
    ol.col-8
      li.lhg-13 Basic setup of your computer: download a tool package from this site and install it and the program ExifTool - only required once!
      li.lhg-13 Copy the files of photos which should get the metadata embedded to a specific directory
      li.lhg-13 Generate your photo metadata with this site and download a file with it
      li.lhg-13 Run a script from the installed tool package to embed the metadata
      li.lhg-13 Move the modified image files to another directory
  h5 Make use of this site - step by step
  div.row.mt-3
    div.col-8.lhg-13 The steps below follow the overall workflow outlined above
  div.row
    ul.col-8
      li.lhg-13 Re 1:<br>a) Create a directory in your file system for this purpose<br>b) <a href="/set-iptc-pmd-searchengines-tool.zip">Download the tool package</a> named <code>set-iptc-pmd-searchengines-tool.zip</code> to this new directory.<br>c) Uncompress this zip file there. (Find below details about the content of this tool package)<br>d) Check if this directory has a sub-directory named <code>images</code>. If not: create a directory with this name
      li.lhg-13 Re 1: You may have to install the program ExifTool.<br>If you use a Windows computer this is not required, the ExifTool exe-file is included in the tool package.<br>If your computer uses Apple's MacOS or Linux as operating system you must install ExifTool. The <a href="https://exiftool.org/">ExifTool home page</a> provides a package for MacOS and installation instructions for MacOS and Unix platforms (including Linux).
      li.lhg-13 Re 2: Select a set of photos into which you want to embed your photo metadata and copy them to this <code>images</code> directory.
      li.lhg-13 Re 3: Go to the Metadata Form of this site and enter your values in the available fields. Finally click the Generate Photo Metadata button.
      li.lhg-13 Re 3: This takes you to a page showing the results. Check if "It worked" is shown below "Result after ...", then the generated data are ok. Below you see the section "The generated ExifTool JSON object .." and some code. Below this code as a link "Download this IPTC Photo Metadata object ..." - click on it, the file <code>myiptcpmd.json</code> will be downloaded to a folder defined by your browser.
      li.lhg-13 Re 3: Copy or move the file <code>myiptcpmd.json</code> from your download directory to the directory where you had downloaded the tool package. There should be already a file with this name, overwrite it.
      li.lhg-13 Re 4: Run the script for embedding the metadata. It launches ExifTool as command line program and embeds the metadata of the <code>myiptcpmd.json</code> into all files in the <code>images</code> directory. (You should see notes about that on your screen.) How to run the script ...<br> ... on a Windows computer:  click on <code>embedIPTCpmd_windows.cmd</code><br> ... on a MacOS computer:  click on <code>embedIPTCpmd_macos.sh</code><br> ... on a Linux computer:  click on <code>embedIPTCpmd_linux.sh</code><br>Note for MacOS and Linux computers: you may have to enable the script to be executed by a <code>chmod +x embedIPTCpmd_macos.sh</code> or <code>chmod +x embedIPTCpmd_linux.sh</code> command.
      li.lhg-13 Re 4: To check the results you can go the the <a href="https://getpmd.iptc.org" target="_blank">Get IPTC Photo Metadata</a> site and use the Option B (= uploading an image file). Select one of the photos in the <code>images</code> directory. And select "Metadata relevant for photos shown as result by search engines" for "What is shown". Clicking Get Photo Metadata of Local Image should show you metadata embedded into this image file. Check if the values are correct. If not: got back to the Metadata Form of this site, generate and download the metadata and embed them again.
      li.lhg-13 Re 5: Copy or move all the image files from the <code>images</code> directory to a directory where they are archived.
  h5 The Tool Package Content
  div.row.mt-3
    div.col-8.lhg-13 The zipped <code>set-iptc-pmd-searchengines-tool.zip</code> file includes:
  div.row
    ul.col-8
      li.lhg-13 Directory <code>images</code>. It is empty.
      li.lhg-13 Directory <code>no-metadata-test-images</code>. It includes three JPEG image files with no embedded metadata. You may use them for testing by copying one or more files into the <code>images</code> directory.
      li.lhg-13 File <code>embedIPTCpmd_linux.sh</code>: the script for embedding metadata on a Linux computer.
      li.lhg-13 File <code>embedIPTCpmd_macos.sh</code>: the script for embedding metadata on a MacOS computer.
      li.lhg-13 File <code>embedIPTCpmd_windows.cmd</code>: the script for embedding metadata on a Windows computer.
      li.lhg-13 File <code>exiftool(-k).exe</code>: the ExifTool program file for Windows only!
      li.lhg-13 File <code>myiptcpmd.json</code>: the ExifTool data for embedding IPTC photo metadata into the image files in the <code>images</code>
  div.row.mt-3
    div.col-8.lhg-13 <strong>To test the basic function of this toolset</strong> you may take these steps:
  div.row
    ul.col-8
      li.lhg-13 Copy JPEG files from the <code>no-metadata-test-images</code> directory to the <code>images</code> directory.
      li.lhg-13 Execute the script for your operating system, see the details in the step-by-step guideline above. It MacOS or Linux complains this script cannot be executed appyl the <code>chmod</code> command as described in the guideline. This change should be persistent.<br>Executing this script will embed the dummy photo metadata of this default <code>myiptcpmd.json</code>, using a photographer named Jane Doe and the Photo Agency XYZ as copyright holder and licensor.
      li.lhg-13 If executing the script looked successfully check the results. Use the test procedure described in the step-by-step guidelines above.