doctype html
html
  head
    title Set IPTC PMD SearchEngines
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author' content='NewsIT-M.W.Steidl')
    meta(name='keywords' content='photo, metadata, IPTC')
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
    div.container
      div.row.pt-2.pb-2.sitecibox
        div.col-md-1
          img(src="/images/logo.jpg" alt="NewsIT")
        div.col-md-11
          h2.mt-3 Set IPTC Photo Metadata for Search Engines - BETA
      <!-- navigation bar -->
      div.border.rounded.mt-2.mb-3
        nav.nav
          a.nav-link(href="/ui") Start
          a.nav-link(href="/ui/form") Metadata Form
          a.nav-link(href="/ui/howto") How To Use
          a.nav-link(href="/ui/about") About

      div
        block content

      <!-- footer -->
      div.row
        block scriptsatend
          script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
          script(src="/javascripts/bootstrap.min.js")
          script(src='/javascripts/spinner1.js')

