body {
  padding: 50px;
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

a {
  color: #00B7FF;
}

a.googlink {
  color: #6f42c1;
}

.codebox {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formbox01 {
  background-color: bisque;
}
.formbox02 {
  background-color: paleturquoise;
}
.formbox03 {
  background-color: aquamarine;
}
.formbox04 {
  background-color: pink;
}
.showbox01 {
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.sitecibox{
  background-color: #faebcc;
}
.lhg-12 {
  line-height: 1.2em;
}
.lhg-13 {
  line-height: 1.3em;
}
.lhg-14 {
  line-height: 1.4em;
}
.lhg-15 {
  line-height: 1.5em;
}
.displayedbygoogle {
  color: #6f42c1;
}
.bggreen1 {
  background-color: #34ce57;
}
.bgyellow1 {
  background-color: #ffdf7e;
}