body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.formbox01 {
  background-color: bisque;
}
.formbox02 {
  background-color: paleturquoise;
}
.formbox03 {
  background-color: aquamarine;
}
.formbox04 {
  background-color: pink;
}
